[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "klaude-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "anthropic>=0.66.0",
    "openai>=1.102.0",
    "pillow>=12.0.0",
    "prompt-toolkit>=3.0.52",
    "pydantic>=2.11.7",
    "pyyaml>=6.0.2",
    "questionary>=2.1.1",
    "rich>=14.1.0",
    "typer>=0.17.3",
]

[project.scripts]
klaude = "klaude_code.cli.main:app"

[tool.hatch.build]
sources = ["src"]

[dependency-groups]
dev = ["isort>=6.0.1", "pytest>=8.4.1"]

[tool.hatch.build.targets.wheel.force-include]
"src/klaude_code/core/prompt_codex.md" = "klaude_code/core/prompt_codex.md"
"src/klaude_code/core/prompt_claude_code.md" = "klaude_code/core/prompt_claude_code.md"
"src/klaude_code/command/prompt-init.md" = "klaude_code/command/prompt-init.md"
"src/klaude_code/command/prompt-dev-doc.md" = "klaude_code/command/prompt-dev-doc.md"
"src/klaude_code/command/prompt-update-dev-doc.md" = "klaude_code/command/prompt-update-dev-doc.md"
"src/klaude_code/core/prompt_subagent.md" = "klaude_code/core/prompt_subagent.md"
"src/klaude_code/core/prompt_oracle.md" = "klaude_code/core/prompt_oracle.md"

[tool.ruff]
line-length = 120
